<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agilize</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <form action="/executar" method="POST" enctype="multipart/form-data">
            <input id="input" type="file" name="arquivo_txt" accept=".txt" required><br><br>
            <input id="input" type="file" name="arquivo_pdf" accept=".pdf" required><br><br>
            <button type="submit" class="btn">Clique aqui e agilize</button>
        </form>
    </div>
</body>
</html>
